:root {
  --main-radius: 20px;
  --other-radius: 8px;
}

:root {
  --color-btn: blue;
  --color-black: black;
  --color-white: white;
  --color-light-gray: lightgray;
  --color-light-bg: #f1f0fe;
  --color-transparent-bg: rgba(255, 255, 255, 0.2);
  --color-hover-currencies: #ececec;
  --color-hover-advantages: rgba(255, 255, 255, 0.3);
}
