body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.calculator-screen {
    display: flex;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 1px;
    font-size: 2.5rem;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    border-radius: 5px;
    border: none;
    background-color: #e0e0e0;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d0d0d0;
}

.operator {
    height: 60px;
    background-color: #ff9500;
    color: #fff;
}

.operator:hover {
    background-color: #e08e00;
}

.calculate {
    padding: 0px 20px 0px 20px;
}

.calculate-btn {
    width: 100%;
    
}

.result {
    font-size: 20px;
    padding: 10px;
}